@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:ital,wght@1,300&family=Pacifico&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:ital,wght@1,300&family=Pacifico&family=Roboto:ital@1&family=Source+Code+Pro&display=swap');

body {
    background-color: rgb(49, 49, 49);
}

.begin {
    box-sizing: border-box;
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0;
  background-color: rgb(192, 111, 74);
  text-shadow: 1px 1px 2px rgb(3, 135, 145), 0 0 1em rgb(255, 255, 255);
  font-family: 'Lobster', cursive;
}

.imaging { 
  text-align: center;

}

.libook {
    box-sizing: border-box;
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0;
    background-color: rgb(255, 160, 116);
    text-shadow: 1px 1px 2px rgb(3, 135, 145), 0 0 1em rgb(255, 255, 255);
    font-family: 'Source Code Pro', monospace;
  }

.booktext {
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 0;
  background-color: rgb(226, 168, 128);
  text-shadow: 1px 1px 2px rgb(3, 135, 145), 0 0 1em rgb(255, 255, 255);
  font-family: 'Montserrat Alternates', sans-serif;
}